body {
  background-color: black;
  color: white;
}
div.clock {
  display: flexbox;
  justify-content: center;
  text-align: center;
  font-weight: 900;
  font-size: 5rem;
  color: rgb(195, 0, 255);
}
div.clock span.head {
  color: white;
  font-size: 2rem;
  font-weight: 500;
  word-wrap: break-word;
}